.list__item {
    margin: .25rem 0;
}

.item {
    border: .1rem solid var(--main-dark-color);
    padding: .75rem .5rem .75rem 1rem;
}

.item_checked {
    opacity: .5;
}

.item__content {
    font-size: 2rem;
    font-weight: 500;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
}

.item__controls {
    display: flex;
    justify-content: flex-end;
}

.item__button {
    margin-right: 1rem;
}

.item__content_checked {
    text-decoration: line-through;
} 

/*------------------ 
    BUTTONS_SECTION 
--------------------*/


.button__delete:hover {
    background-color: var(--dark-red);
    border-color:  var(--dark-red);
}

.button__complite:hover {
    background-color: var(--dark-green);
    border-color:  var(--dark-green);
}

.button__complite_checked {
    background-color: var(--dark-green);
    border-color:  var(--dark-green);
    color: var(--main-white-color);
}